@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&display=swap');

*{
padding: 0;
margin: 0;
}
:root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue:hsl(248, 32%, 49%);
    --DarkBlue:hsl(249, 10%, 26%);
    --GrayishBLue:hsl(246, 25%, 77%);
}
body{
    font-family: 'Poppins',sans-serif;
    background-color: hsl(0, 100%, 74%);
    background-image: url(/images/bg-intro-desktop.png);
    background-repeat: no-repeat;
}
.wrapper{
    
    min-height: 90vh;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    padding:35px 60px 35px 60px;
    margin: 0 auto;
}
.wrapper > div{
    flex: 1;
}
.left{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px 100px 0px 0px;
    text-align: center;
}
.right{
    padding: 20px;
}
h1{
    color: #fff;
    font-weight:700;
    font-size: 50px;
    line-height: 75px;
    padding-bottom: 20px;
}
p{
    color: #fff;
    font-size: 16px;
    font-family: 600;
    letter-spacing: 1px;
}
section{
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0,0.2);
    width: 88%;
}
form{
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0,0.2);
    width: 85%;
}    
input{    
    outline:none;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
    padding: 15px 0px 15px 0px;
    font-size:16px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
input::placeholder{
    padding: 10px;
}
input:focus{
    border-color:hsl(249, 10%, 26%) ;
}
.input{
    position: relative;
    margin-bottom: 15px;
}
.error-icon{
    position: absolute;
    left: 85%;
    margin-top: 18px;   
    display: none;
}
.error-msg{
    font-size: 10px; 
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    font-style: italic;
    margin-left: 330px;
    display: none;

}
button{
    background-color: hsl(154, 59%, 51%);
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    box-shadow: 2px 5px 10px hsla(249, 10%, 26%,0.5);
    transition: transition 0.4s ease;
    outline: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    padding: 15px;
}
button:active{
    box-shadow: 0 0 hsl(154, 59%, 51%);
    transform: translateY(2px);
}

footer{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin: 20px;
    color: hsl(248, 32%, 49%);  
}
a{
    text-decoration: none;
    color: hsl(0, 100%, 74%);
}
/* media query */
@media screen and (max-width:768px){
    
    h1{
        margin-top: 75px;
        margin-left: 100px;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
    }
    p{
        width: 137%;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
        
    }
    .input{
        margin-bottom: 15px;  
    }
    .error-msg{
        margin-left: 200px;
    }
    footer{
        margin-bottom: 0;
    }
  
} 
